@import "reset.scss";

.main-wrapper{
  min-height:100vh;
}

.mainBoxShadow{
  box-shadow: 0px 20px 40px 0 rgba(22, 42, 81, 0.2);
}

.top-banner{
  min-height: 768px;
  background: url('../images/top-banner.jpg') center center no-repeat;
  background-size: cover;

  // background: rgba(252,56,42,0.4);
  // background: -moz-linear-gradient(-66deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,56,42,0.4)), color-stop(50%, rgba(255,199,32,0.4)), color-stop(100%, rgba(240,240,240,0.4)));
  // background: -webkit-linear-gradient(-66deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // background: -o-linear-gradient(-66deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // background: -ms-linear-gradient(-66deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // background: linear-gradient(135deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc382a', endColorstr='#f0f0f0', GradientType=1 );

  @media (max-width: 768px){
    background-position: 80% 0;
  }
  @media (max-width: 414px){
    min-height: 0;
    background-position: 88% 0;
  }

  header{
    padding: 20px 0;
    h1.logo-wrap{
      margin: 0;
      a.logo{
        color:white;
        font-weight: 400;
        letter-spacing: -1px;
        text-decoration: none;
        img{
          width: 117px;
        }
      }
    }

    a.flag-link{
      display: inline-block;
      line-height: 39px;
      img{
        border-radius:50%;
        width: 25px;
        box-shadow: 0px 6px 8px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }

  .top-banner-txt{
    // padding: 82px 0 24px;
    padding: 30px 0 24px;
    @media (max-width: 480px){
    }
    @media (max-width: 414px){
      padding:5px 0 0;
    }
    h2{
      text-transform: uppercase;
      color:white;
      font-size: 50px;
      font-weight: 900;
      line-height: 1.04;
      // margin: 0 0 12px;
      margin: 0 0 25px;
      @media (max-width: 480px){
        font-size: 40px;
      }
      @media (max-width: 414px){
        font-size: 30px;
      }
      &.fs-40{
        font-size: 40px;
        line-height: 1.3;
      }
    }
    h4{
      font-size: 30px;
      font-weight: bold;
      line-height: 1;
      color: white;
      text-transform: uppercase;
      margin: 0 0 45px;
      @media (max-width: 480px){
        font-size: 24px;
        margin: 0 0 25px;
      }
    }
    p{
      font-size: 22px;
      line-height: 1.36;
      margin-bottom: 0;
      color:white;
      padding-bottom: 32px;
      @media (max-width: 480px){
        font-size: 20px;
      }
      @media (max-width: 414px){
        padding-bottom: 20px;
        font-size: 18px;
      }
    }
    p.question{
      text-transform: uppercase;
      padding-bottom: 5px;
      font-weight: bold;
    }
    &.rus-lang{
      h2{
        font-size: 30px;
        line-height: 1.3;
        font-weight: bold;
        @media (max-width: 480px){
          font-size: 26px;
        }
      }
      p{
        // font-size: 18px;
        font-size: 20px;
      }
    }
    ul.top-list{
      // padding-top: 32px;
      @media (max-width: 414px){
        // padding-top: 20px;
        padding-bottom: 30px;
      }
      li{
        color:white;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.44;
        text-transform: uppercase;
        margin-bottom: 8px;
        @media (max-width: 414px){
          text-transform: none;
        }
        img{
          margin-right: 20px;
          @media (max-width: 414px){
            margin-right: 10px;
          }
        }
      }
    }
  }

  .panel{
    box-shadow: 0px 20px 40px 0 rgba(22, 42, 81, 0.2);
    border:0;
    @media (max-width: 414px){
      box-shadow: 0px 10px 30px 0 rgba(22, 42, 81, 0.12);
      margin: 0 -15px 0;
      border-radius: 0;
    }
    .panel-main-wrap{
      padding: 30px;
      @media (min-width: 651px){
        width: 100%;
        display: table;
      }
      @media (max-width: 414px){
        padding: 20px;
      }
      &>*{
        @media (min-width: 651px){
          display: table-cell;
          vertical-align: top;
        }
      }
      &.rus-lang{
        .panel-cell{
          width: 185px;
          @media (max-width: 650px){
            width: 100%;
          }
        }
      }
    }
    .panel-cell{
      border-left:1px solid #e1e6f0;
      width: 135px;
      padding-left: 25px;
      text-align: center;
      @media (max-width: 650px){
        padding-left: 0;
        padding-top: 20px;
        width: 100%;
        border-top:1px solid #e1e6f0;
        border-left:0;
        // width: 40%;
      }
      p.ttl{
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        color: #0a5271;
      }
      b{
        font-size: 40px;
        font-weight: bold;
        line-height: 1.35;
        color: #faa61a;
        margin-bottom: 20px;
        display: block;
      }
      span{
        font-size: 13px;
        font-weight: 300;
        color: #0a5271;
      }
    }
    .panel-main{
      padding-right: 30px;
      @media (max-width: 650px){
        padding-right: 0;
        padding-bottom: 20px;
      }
      p.range-label{
        font-size: 14px;
        font-weight: 300;
        color: #0a5271;
        span{
          font-size: 16px;
          font-weight: bold;
          color: #faa61a;
          text-transform: uppercase;
        }
      }
      .range-wrap{
        &:not(:last-child){
          padding-bottom: 25px;
        }
        span.count{
          font-size: 14px;
          font-weight: 300;
          color: #0a5271;
          width: 5%;
          display: inline-block;
          @media (max-width: 414px){
            width: 12%;
          }
          &:last-child{
            text-align: right;
            width: 8%;
            @media (max-width: 414px){
              width: 17%;
            }
          }
        }
        .slider{
          height: 24px;
          width: 85%;
          @media (max-width: 414px){
            width: 68%;
          }
          .slider-track{
            border-radius:4px;
            height: 8px;
            background-color: #e6e9f0;
            background-image: none;
            box-shadow: none;
            .slider-selection{
              background: #36b9ff;
              background: -moz-linear-gradient(-45deg, #36b9ff 0%, #0081c6 100%);
              background: -webkit-gradient(left top, right bottom, color-stop(0%, #36b9ff), color-stop(100%, #0081c6));
              background: -webkit-linear-gradient(-45deg, #36b9ff 0%, #0081c6 100%);
              background: -o-linear-gradient(-45deg, #36b9ff 0%, #0081c6 100%);
              background: -ms-linear-gradient(-45deg, #36b9ff 0%, #0081c6 100%);
              background: linear-gradient(135deg, #36b9ff 0%, #0081c6 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36b9ff', endColorstr='#0081c6', GradientType=1 );
            }
          }
          .slider-handle{
            background: transparent;
            background-color: #36baff;
            &.min-slider-handle{
              width: 24px;
              height: 24px;
              background-color: #36baff;
              box-shadow: 0px 8px 12px 0 rgba(80, 183, 255, 0.45);
            }
          }
        }
      }
    }
    .panel-button-wrap{
      padding: 0 30px 30px;
      @media (max-width: 414px){
        padding: 0 20px 20px;
      }
    }
  }

  &.rational-bg{
    background: url('../images/top-banner-rational.jpg') center center no-repeat;
    background-size: cover;
    .top-banner-txt{
      p{
        @media (max-width: 480px){
          margin-bottom: 30px;
        }
      }
    }
  }

  &.emotional-bg{
    background: url('../images/top-banner-emotional.jpg') center center no-repeat;
    background-size: cover;
    .top-banner-txt{
      p{
        @media (max-width: 480px){
          margin-bottom: 30px;
        }
      }
    }
  }
}

button.btn-yellow{
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  color:white;
  text-transform: uppercase;
  width: 100%;
  height: 51px;
  border-radius: 4px;
  background-color: #faa61a;
  box-shadow: 0px 10px 24px 6px rgba(250, 166, 26, 0.35);
}

.info-layer{
  padding: 120px 0 115px;
  @media (max-width: 768px){
    padding: 80px 0 25px;
  }
}
.info-block{
  text-align: center;
  @media (max-width: 768px){
    margin-bottom: 55px;
  }
  .img-wrap{
    img{
      width: 64px;
    }
  }
  h4{
    font-size: 20px;
    color: #0a5271;
    line-height: 2.63;
  }
  p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    color: #0a5271;
  }
}

.quote-layer{
  padding: 80px 0;
  @media (max-width: 768px){
    padding: 50px 0 25px;
  }
  .quote-block{
    position: relative;
    padding-left: 50px;
    background: url('../images/qoute.png') 15px 5px no-repeat;
    @media (max-width: 768px){
      margin-bottom: 35px;
    }
  }
  p{
    font-size: 16px;
    font-weight: 300;
    color: #0a5271;
    margin-bottom: 0;
    &.quote-wrap{
      font-style: italic;
      line-height: 1.63;
      min-height: 90px;
      @media (max-width: 768px){
        min-height: 0;
        margin-bottom: 20px;
      }
    }
    &.name{
      line-height: 1.5;
      font-weight: normal;
    }
    &.info{
      font-size: 14px;
      line-height: 1.43;
    }
  }
}

.rational-info-layer{
  background: #0082c6;
  padding: 50px 0;
  @media (max-width: 768px){
    padding-bottom: 20px;
  }
  .rat-info-block{
    text-align: center;
    @media (max-width: 768px){
      margin-bottom: 30px;
    }
    &:not(:last-child){
      border-right:1px solid white;
    }
    &>*{
      display: inline-block;
      vertical-align: middle;
    }
    .icon-wrap{
      padding-right: 35px;
      @media (max-width: 768px){
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
      }
    }
    .rat-txt{
      text-align: left;
      @media (max-width: 768px){
        text-align: center;
      }
    }
    p{
      font-size: 14px;
      font-weight: 300;
      line-height: 1.86;
      color: #ffffff;
      text-transform: uppercase;
      &.number{
        text-transform: none;
        font-size: 30px;
        line-height: 0.87;
      }
    }
  }
}

.rat-info-table{
  padding: 45px 0;
  table.table{
    tr{
      &:first-child{
        td{
          border-top:0;
        }
      }
      td{
        font-size: 16px;
        font-weight: 300;
        line-height: 1.25;
        text-align: left;
        color: #0a5271;
        padding: 16px 0 16px 98px;
        vertical-align: middle;
        @media (max-width: 991px){
          padding: 16px;
        }
        @media (max-width: 414px){
          padding: 10px;
          font-size: 14px;
        }
        a{
          color: #0082c6;
          // text-decoration: underline;
        }
      }
    }
  }
}

.add-cash-layer{
  background: #0082c6;
  padding: 120px 0;
  @media (max-width: 768px){
    padding: 80px 0;
  }
  h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 100px;
    @media (max-width: 768px){
      font-size: 30px;
    }
  }
  .info-block{
    margin-bottom: 75px;
    @media (max-width: 414px){
      margin-bottom: 55px;
    }
    .img-wrap{
      min-height: 80px;
    }
    h4, p{
      color:white;
    }
  }
  .check-layer{
    padding: 23px 30px 23px 85px;
    background: url('../images/circle-tick.png') 30px center no-repeat;
    border: solid 1px rgba(255,255,255,.5);
    margin-bottom: 20px;
    p{
      font-size: 16px;
      line-height: 1.63;
      text-align: left;
      color: #ffffff;
      margin-bottom: 0;
    }
  }
  .add-cash-button-wrap{
    padding-top: 40px;
    text-align: center;
    button.btn-yellow{
      width: 30%;
      box-shadow: 0px 10px 24px 6px rgba(0, 0, 0, 0.16);
      @media (max-width: 768px){
        width: 50%;
      }
      @media (max-width: 414px){
        width: 100%;
      }
    }
  }
}

.credit-layer{
  padding: 260px 0 120px;
  position: relative;
  background: #faa81a;
  background: -moz-linear-gradient(top, #faa61a 0%, #ef413d 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #faa81a), color-stop(100%, #ef413d));
  background: -webkit-linear-gradient(top, #faa61a 0%, #ef413d 100%);
  background: -o-linear-gradient(top, #faa61a 0%, #ef413d 100%);
  background: -ms-linear-gradient(top, #faa61a 0%, #ef413d 100%);
  background: linear-gradient(to bottom, #faa61a 0%, #ef413d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa61a', endColorstr='#ef413d', GradientType=0 );
  @media (min-width: 501px){
    margin-top: -80px;
    // padding: 80px 0;
  }
  @media (max-width: 992px){
    padding: 130px 0 120px;
  }
  @media (max-width: 992px){
    padding: 65px 0 60px;
  }
  .triangle-left{
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    border-right: 100vw solid transparent;
    border-top: 260px solid #fff;
    @media (max-width: 992px){
      border-top: 130px solid #fff;
    }
    @media (max-width: 500px){
      display: none;
    }
  }
  .phone-img-wrap{
    @media (min-width: 992px){
      padding-top: 340px;
    }
    &.rus-lang{
      @media (min-width: 992px){
        padding-top: 280px;
      }
    }
    img.phone-card{
      max-width: 100%;
    }
  }
  h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 100px;
    @media (max-width: 768px){
      font-size: 30px;
    }
    @media (max-width: 414px){
      margin-bottom: 50px;
    }
    &.text-left{
      text-align: left;
    }
    &.mb-75{
      margin-bottom: 75px;
      @media (max-width: 414px){
        margin-bottom: 40px;
        margin-top: 20px;
      }
    }
  }
  h5.info-bottom-text{
    font-size: 30px;
    font-weight: 300;
    line-height: 0.87;
    text-align: center;
    color: #ffffff;
  }
  ul.credit-check-list{
    li{
      position: relative;
      padding: 18px 0;
      img{
        position: absolute;
        top: 50%;
        left: -11px;
        margin-top: -20px;
      }
      span{
        display: block;
        padding-left: 50px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.44;
        text-align: left;
        color: #ffffff;
      }
    }
  }
  .wave-wrap{
    padding: 100px 0 110px;
    @media (max-width: 414px){
      padding: 50px 0 55px;
    }
  }
  .info-block{
    margin-bottom: 75px;
    @media (max-width: 414px){
      margin-bottom: 55px;
    }
    .img-wrap{
      min-height: 80px;
    }
    h4, p{
      color:white;
    }
    p{
      font-size: 18px;
    }
  }
  .add-cash-button-wrap{
    padding-top: 40px;
    text-align: center;
    button.btn-yellow{
      width: 30%;
      box-shadow: 0px 10px 24px 6px rgba(0, 0, 0, 0.16);
      @media (max-width: 768px){
        width: 50%;
      }
      @media (max-width: 414px){
        width: 100%;
      }
    }
  }
}

.question-layer{
  background: #faa61a url('../images/pattern.png') center 50px no-repeat;
  padding: 113px 0 0;
  @media (max-width: 480px){
    padding-top: 95px;
  }
  @media (max-width: 414px){
    padding-top: 75px;
  }
  h2{
    font-size: 40px;
    font-weight: 900;
    color:white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
    @media (max-width: 480px){
      font-size: 34px;
      margin-bottom: 70px;
    }
    @media (max-width: 414px){
      margin-bottom: 60px;
      font-size: 26px;
    }
  }

  ul.question-list{
    padding-bottom: 100px;
    margin-bottom: 0;
    @media (max-width: 414px){
      padding-bottom: 70px;
    }
    li.list-group{
      display: table;
      width: 100%;
      min-height: 42px;
      box-shadow: 0px 15px 30px 0 rgba(20, 46, 138, 0.06);
      overflow: hidden;
      @media (max-width: 414px){
        margin-bottom: 10px;
      }
      &>*{
        display: table-cell;
      }
      .check-cell{
        width: 64px;
        background: #e95045;
        text-align: center;
        border-radius: 21px 0 0 21px;
        position: relative;
        @media (max-width: 414px){
          border-radius: 0;
          width: 46px;
        }
        img{
          // position: absolute;
          // line-height: 1;
          // left: 50%;
          // top: 50%;
          // margin-top: -6px;
          // margin-left: -8px;
        }
      }
      .text-cell{
        background: #fff;
        padding: 8px 15px;
        border-radius: 0 21px 21px 0;
        @media (max-width: 414px){
          border-radius: 0;
        }
        span{
          font-size: 16px;
          font-weight: 300;
          line-height: 1.63;
          color: #0a5271;
        }
        a{
          color:#337ab7;
        }
      }
    }
  }

  .question-bottom-layer{
    background: #fff;
    position: relative;
    @media (min-width: 481px){
      padding-bottom: 786px;
    }
    .triangle-down{
      box-sizing: content-box;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 300;
      border-left: 49vw solid transparent;
      border-right: 50vw solid transparent;
      border-top: 300px solid #faa61a;
      @media (max-width: 480px){
        display: none;
      }
    }
  }

  .list-block-wrap{
    position: relative;
    .list-block-inner{
      @media (min-width: 481px){
        position: absolute;
        top: 0;
        z-index: 500;
        width: 100%;
      }
    }
  }

  .list-block{
    padding: 95px 98px 120px;
    box-shadow: 0px 30px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    background: #e96945;
    background: -moz-linear-gradient(-65deg, #e96945 0%, #ef403d 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #e96945), color-stop(100%, #ef403d));
    background: -webkit-linear-gradient(-65deg, #e96945 0%, #ef403d 100%);
    background: -o-linear-gradient(-65deg, #e96945 0%, #ef403d 100%);
    background: -ms-linear-gradient(-65deg, #e96945 0%, #ef403d 100%);
    background: linear-gradient(165deg, #e96945 0%, #ef403d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96945', endColorstr='#ef403d', GradientType=1 );

    @media (max-width: 480px){
      border-radius: 0;
      margin: 0 -15px;
      padding: 99px 20px 80px;
      box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.2);
    }
    h4{
      font-size: 36px;
      font-weight:900;
      line-height: 1.22;
      color:white;
      text-align: center;
      margin-top: 0;
      margin-bottom: 39px;
      text-transform: uppercase;
      @media (max-width: 414px){
        font-size: 26px;
        line-height: 1.31;
        margin-bottom: 26px;
      }
    }
    ul.list{
      margin-bottom: 45px;
      @media (max-width: 414px){
        margin-bottom: 35px;
      }
      li{
        min-height: 64px;
        position: relative;
        padding: 25px 0;
        vertical-align: middle;
        @media (min-width: 415px){
          padding: 15px 0;
          display: table;
        }
        &>*{
          @media (min-width: 415px){
            display: table-cell;
            vertical-align: middle;
          }
        }
        .icon-wrap{
          width: 64px;
          @media (max-width: 414px){
            width: 100%;
          }
        }
        .icon-inner{
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background: rgba(255,255,255,.3);
          text-align: center;
          line-height: 64px;
          @media (max-width: 414px){
            margin: 0 auto 10px;
          }
          img{
          }
        }
        span{
          font-size: 18px;
          font-weight: 500;
          line-height: 1.44;
          color:white;
          padding-left: 33px;
          @media (max-width: 414px){
            display: inline-block;
            width: 100%;
            text-align: center;
            padding-left: 0;
          }
        }
      }
    }
    button.btn-yellow{
      box-shadow: 0px 30px 40px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

footer{
  background-color: #f2f5f7;
  padding: 200px 0 84px;
  @media (max-width: 480px){
    padding: 80px 0;
  }
  .footer-txt{
    text-align: center;

    p{
      font-size: 16px;
      font-weight: 300;
      line-height: 1.63;
      color: #0a5271;
      margin-bottom: 59px;
      @media (max-width: 414px){
        font-size: 13px;
        line-height: 1.54;
        margin-bottom: 36px;
      }
      &.copyright{
        font-size: 14px;
        line-height: 1.86;
        @media (max-width: 414px){
          margin-bottom: 18px;
          font-size: 13px;
          line-height: 2;
        }
      }
    }
    a.foot-ask{
      font-size: 20px;
      line-height: 1.3;
      color: #0a5271;
      margin-bottom: 36px;
      display: inline-block;
      @media (max-width: 414px){
        margin-bottom: 16px;
      }
    }
    a.foot-logo{
      text-decoration: none;
      img{
        width: 141px;
      }
    }
    .btn-wrap-left{
      @media (min-width: 768px){
        text-align: left;
      }
    }
    .btn-wrap-right{
      @media (min-width: 768px){
        text-align: right;
      }
    }
    a.btn-blue{
      width: 270px;
      text-align: center;
      border-radius: 5px;
      background: #1796d6;
      background: -moz-linear-gradient(-65deg, #1796d6 0%, #0081c6 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, #1796d6), color-stop(100%, #0081c6));
      background: -webkit-linear-gradient(-65deg, #1796d6 0%, #0081c6 100%);
      background: -o-linear-gradient(-65deg, #1796d6 0%, #0081c6 100%);
      background: -ms-linear-gradient(-65deg, #1796d6 0%, #0081c6 100%);
      background: linear-gradient(165deg, #1796d6 0%, #0081c6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1796d6', endColorstr='#0081c6', GradientType=1 );
      box-shadow: 0px 30px 40px 0 rgba(0, 0, 0, 0.2);
      color:white;
      font-size: 14px;
      padding: 13px 10px 14px;
      margin-bottom: 60px;
      &:focus{
        outline:0;
      }
      @media (max-width: 768px){
        margin-bottom: 20px;
      }
      @media (max-width: 480px){
        width: 270px;
      }
      &>*{
        vertical-align: middle;
        line-height: 18px;
      }
      img{
        margin-right: 5px;
      }
    }
    a.store-link{
      margin-bottom: 59px;
      display: inline-block;
      @media (max-width: 414px){
        margin: 20px 0;
      }
      img{
        width: 120px;
      }
    }
  }
  &.rational-foot{
    padding: 120px 0 84px;
    @media (max-width: 480px){
      padding: 80px 0;
    }
    .footer-txt{
      p{
        font-size: 20px;
        line-height: 1.3;
        color: #0a5271;
        margin-bottom: 35px;
        &.copyright{
          font-size: 14px;
          font-weight: 300;
          line-height: 1.86;
          margin-bottom: 57px;
        }
      }
    }
  }
}

/* MODALS */

.modal{
  .modal-dialog{
    @media (min-width: 769px){
      width: 700px;
    }
  }
  .modal-content{
    border-radius: 0;
    .modal-header{
      background: #e95045;
      padding: 37px 40px 25px;
      @media (max-width: 767px){
        padding: 24px 40px 23px;
      }
      h4.modal-title{
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        color:white;
        @media (max-width: 414px){
          font-size: 24px;
          line-height: 1.25;
        }
      }
      button.close{
        color:white;
        opacity: 1;
        box-shadow: 0 0 0 transparent;
        position: absolute;
        right: 20px;
        top: 16px;
        font-weight: normal;
        span{
          line-height: 12px;
        }
      }
    }
    .modal-body{
      padding: 40px 73px;
      @media (max-width: 768px){
        padding: 30px;
      }
      @media (max-width: 414px){
        padding: 15px;
      }
      p{
        font-size: 18px;
        font-weight: 300;
        line-height: 1.56;
        text-align: center;
        color: #065272;
        @media (max-width: 414px){
          font-size: 16px;
          line-height: 1.38;
        }
      }
      .modal-form{
        padding-top: 25px;
        @media (max-width: 414px){
          padding-top: 10px;
        }
        .modal-row{
          margin: 0 -5px;
          overflow: hidden;
          .form-group{
            padding: 0 5px;
            width: 100%;
            @media (min-width: 415px){
              float: left;
              width: 50%;
            }
            label{
              font-size: 13px;
              line-height: 2.15;
              color: #065272;
              margin-bottom: 5px;
              text-transform: uppercase;
            }
            input{
              height: 45px;
              border-radius: 3px;
              background-color: #ffe699;
              border:0;
              box-shadow: 0 0 0 transparent;
              padding: 6px 20px;
            }
          }
        }
        .checkbox{
          margin-top: 25px;
          margin-bottom: 20px;
          @media (max-width: 414px){
            margin-top: 5px;
            margin-bottom: 10px;
          }
          label{
            font-size: 14px;
            font-weight: 300;
            line-height: 2;
            color: #065272;
            height: 18px;
            position: relative;
            padding-left: 28px;
            line-height: 18px;
            &:before,
            &:after{
              position: absolute;
              content: '';
              display: block;
            }
            &:before{
              width: 18px;
              height: 18px;
              border-radius:2px;
              border:1px solid #a5b5cc;
              top: 0;
              left: 0;
            }
            &:after{
              display: none;
              content: '\e013';
              top: 1px;
              left: 2px;
              color:#a5b5cc;
              font-family: 'Glyphicons Halflings';
              font-style: normal;
              font-weight: 400;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale

            }
          }
          input{
            display: none;
            &:checked + label{
              &:after{
                display: inline-block;
                content: '\e013';
              }
            }
          }
        }
        button.btn-orange{
          height: 52px;
          border-radius: 3px;
          background-color: #f8a30e;
          box-shadow: 0px 10px 24px 6px rgba(248, 163, 14, 0.35);
          font-size: 16px;
          line-height: 1.75;
          text-align: center;
          color: #ffffff;
          width: 100%;
        }
      }
    }
  }
}
