@import "reset.scss";

.main-wrapper{
  min-height:100vh;
}

.mainBoxShadow{
  box-shadow: 0px 20px 40px 0 rgba(22, 42, 81, 0.2);
}

.top-banner{
  min-height: 768px;
  background: url('../images/top-banner.jpg') top center no-repeat;
  background-size: cover;

  // background: rgba(252,56,42,0.4);
  // background: -moz-linear-gradient(-66deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252,56,42,0.4)), color-stop(50%, rgba(255,199,32,0.4)), color-stop(100%, rgba(240,240,240,0.4)));
  // background: -webkit-linear-gradient(-66deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // background: -o-linear-gradient(-66deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // background: -ms-linear-gradient(-66deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // background: linear-gradient(135deg, rgba(252,56,42,0.4) 0%, rgba(255,199,32,0.4) 50%, rgba(240,240,240,0.4) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc382a', endColorstr='#f0f0f0', GradientType=1 );

  @media (max-width: 768px){
    background-position: 80% 0;
  }
  @media (max-width: 414px){
    min-height: 0;
    background-position: 88% 0;
  }

  header{
    padding: 20px 0;
    h1.logo-wrap{
      margin: 0;
      a.logo{
        color:white;
        font-weight: 400;
        letter-spacing: -1px;
        text-decoration: none;
        img{
          width: 117px;
        }
      }
    }

    a.flag-link{
      display: inline-block;
      line-height: 39px;
      img{
        border-radius:50%;
        width: 25px;
        box-shadow: 0px 6px 8px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }

  .top-banner-txt{
    padding: 82px 0 24px;
    @media (max-width: 480px){
      padding: 40px 0 24px;
    }
    @media (max-width: 414px){
      padding:5px 0 0;
    }
    h2{
      text-transform: uppercase;
      color:white;
      font-size: 50px;
      font-weight: 900;
      line-height: 1.04;
      margin: 0 0 12px;
      @media (max-width: 480px){
        font-size: 40px;
      }
      @media (max-width: 414px){
        font-size: 30px;
      }
    }
    p{
      font-size: 22px;
      line-height: 1.36;
      margin-bottom: 0;
      color:white;
      @media (max-width: 480px){
        font-size: 20px;
      }
      @media (max-width: 414px){
        font-size: 18px;
      }
    }
    &.rus-lang{
      h2{
        font-size: 30px;
        @media (max-width: 480px){
          font-size: 26px;
        }
      }
      p{
        font-size: 18px;
      }
    }
    ul.top-list{
      padding-top: 32px;
      @media (max-width: 414px){
        padding-top: 20px;
        padding-bottom: 30px;
      }
      li{
        color:white;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.44;
        text-transform: uppercase;
        margin-bottom: 8px;
        @media (max-width: 414px){
          text-transform: none;
        }
        img{
          margin-right: 20px;
          @media (max-width: 414px){
            margin-right: 10px;
          }
        }
      }
    }
  }

  .panel{
    box-shadow: 0px 20px 40px 0 rgba(22, 42, 81, 0.2);
    border:0;
    @media (max-width: 414px){
      box-shadow: 0px 10px 30px 0 rgba(22, 42, 81, 0.12);
      margin: 0 -15px 0;
      border-radius: 0;
    }
    .panel-top-wrap{
      border-bottom:1px solid #e1e6f0;
      .panel-top-cell{
        display: inline-block;
        width: 50%;
        padding: 20px 30px;
        vertical-align: middle;
        @media (max-width: 414px){
          padding: 20px;
          width: 40%;
        }
        &:last-child{
          border-left:1px solid #e1e6f0;
          text-align: right;
          @media (max-width: 414px){
            width: 60%;
            border-left:0;
          }
        }
        span{
          font-size: 13px;
          font-weight: 300;
          letter-spacing: 1.3px;
          text-transform: uppercase;
          color: #0a5271;
        }
        b{
          font-size: 16px;
          font-weight: bold;
          letter-spacing: normal;
          color: #0a5271;
        }
      }
    }
    .panel-main{
      padding: 20px 30px 40px;
      @media (max-width: 414px){
        padding: 20px 20px 40px;
      }
      .range-wrap{
        padding-bottom: 20px;
        span.count{
          font-size: 14px;
          font-weight: 300;
          color: #0a5271;
          width: 5%;
          display: inline-block;
          @media (max-width: 414px){
            width: 12%;
          }
          &:last-child{
            text-align: right;
            width: 8%;
            @media (max-width: 414px){
              width: 17%;
            }
          }
        }
        .slider{
          height: 24px;
          width: 85%;
          @media (max-width: 414px){
            width: 68%;
          }
          .slider-track{
            border-radius:4px;
            height: 8px;
            background-color: #e6e9f0;
            .slider-selection{
              background: rgba(32,214,255,1);
              background: -moz-linear-gradient(left, rgba(32,214,255,1) 0%, rgba(80,182,255,1) 100%);
              background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,214,255,1)), color-stop(100%, rgba(80,182,255,1)));
              background: -webkit-linear-gradient(left, rgba(32,214,255,1) 0%, rgba(80,182,255,1) 100%);
              background: -o-linear-gradient(left, rgba(32,214,255,1) 0%, rgba(80,182,255,1) 100%);
              background: -ms-linear-gradient(left, rgba(32,214,255,1) 0%, rgba(80,182,255,1) 100%);
              background: linear-gradient(to right, rgba(32,214,255,1) 0%, rgba(80,182,255,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20d6ff', endColorstr='#50b6ff', GradientType=1 );
            }
          }
          .slider-handle{
            background: transparent;
            background-color: #20d5ff;
            &.min-slider-handle{
              width: 24px;
              height: 24px;
              background-color: #20d5ff;
              box-shadow: 0px 8px 12px 0 rgba(80, 183, 255, 0.45);
            }
          }
        }
      }
    }
  }
}

button.btn-yellow{
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  color:white;
  text-transform: uppercase;
  width: 100%;
  height: 51px;
  border-radius: 3px;
  background-color: #ffc720;
  box-shadow: 0px 10px 24px 6px rgba(255, 199, 32, 0.35);
}

.info-layer{
  text-align: center;
  padding: 120px 0 115px;
  @media (max-width: 768px){
    padding: 80px 0 25px;
  }
  .info-block{
    @media (max-width: 768px){
      margin-bottom: 55px;
    }
  }
  .img-wrap{
    img{
      width: 64px;
    }
  }
  h4{
    font-size: 20px;
    color: #0a5271;
    line-height: 2.63;
  }
  p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    color: #0a5271;
  }
}

.question-layer{
  background: #ffc720 url('../images/pattern.png') center 50px no-repeat;
  padding: 113px 0 0;
  @media (max-width: 480px){
    padding-top: 95px;
  }
  @media (max-width: 414px){
    padding-top: 75px;
  }
  h2{
    font-size: 40px;
    font-weight: 900;
    color:white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
    @media (max-width: 480px){
      font-size: 34px;
      margin-bottom: 70px;
    }
    @media (max-width: 414px){
      margin-bottom: 60px;
      font-size: 26px;
    }
  }

  ul.question-list{
    padding-bottom: 100px;
    margin-bottom: 0;
    @media (max-width: 414px){
      padding-bottom: 70px;
    }
    li.list-group{
      display: table;
      width: 100%;
      min-height: 42px;
      box-shadow: 0px 15px 30px 0 rgba(20, 46, 138, 0.06);
      overflow: hidden;
      @media (max-width: 414px){
        margin-bottom: 10px;
      }
      &>*{
        display: table-cell;
      }
      .check-cell{
        width: 64px;
        background: #e95045;
        text-align: center;
        border-radius: 21px 0 0 21px;
        position: relative;
        @media (max-width: 414px){
          border-radius: 0;
          width: 46px;
        }
        img{
          // position: absolute;
          // line-height: 1;
          // left: 50%;
          // top: 50%;
          // margin-top: -6px;
          // margin-left: -8px;
        }
      }
      .text-cell{
        background: #fff;
        padding: 8px 15px;
        border-radius: 0 21px 21px 0;
        @media (max-width: 414px){
          border-radius: 0;
        }
        span{
          font-size: 16px;
          font-weight: 300;
          line-height: 1.63;
          color: #2c3135;
        }
        a{
          color:#337ab7;
        }
      }
    }
  }

  .question-bottom-layer{
    background: #fff;
    position: relative;
    @media (min-width: 481px){
      padding-bottom: 733px;
    }
    .triangle-down{
      box-sizing: content-box;
      width: 50%;
      height: 0;
      padding-left:50%;
      padding-top: 16%;
      overflow: hidden;
      position: absolute;
      top: -3px;
      z-index: 300;
      @media (max-width: 480px){
        display: none;
      }
    }
    .triangle-down div {
      width: 0;
      height: 0;
      margin-left:-1000px;
      margin-top:-305px;
      border-left: 1000px solid transparent;
      border-right: 1000px solid transparent;
      border-top: 300px solid #ffc720;
    }
  }

  .list-block-wrap{
    position: relative;
    .list-block-inner{
      @media (min-width: 481px){
        position: absolute;
        top: 0;
        z-index: 500;
        width: 100%;
      }
    }
  }

  .list-block{
    padding: 95px 98px 120px;
    box-shadow: 0px 30px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    background: rgba(233,105,69,1);
    background: -moz-linear-gradient(-45deg, rgba(233,105,69,1) 0%, rgba(232,60,72,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(233,105,69,1)), color-stop(100%, rgba(232,60,72,1)));
    background: -webkit-linear-gradient(-45deg, rgba(233,105,69,1) 0%, rgba(232,60,72,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(233,105,69,1) 0%, rgba(232,60,72,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(233,105,69,1) 0%, rgba(232,60,72,1) 100%);
    background: linear-gradient(135deg, rgba(233,105,69,1) 0%, rgba(232,60,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96945', endColorstr='#e83c48', GradientType=1 );

    @media (max-width: 480px){
      border-radius: 0;
      margin: 0 -15px;
      padding: 99px 20px 80px;
      box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.2);
    }
    h4{
      font-size: 30px;
      font-weight: 300;
      line-height: 1.13;
      color:white;
      text-align: center;
      margin-top: 0;
      margin-bottom: 39px;
      @media (max-width: 414px){
        font-size: 26px;
        line-height: 1.31;
        margin-bottom: 26px;
      }
    }
    ul.list{
      margin-bottom: 45px;
      @media (max-width: 414px){
        margin-bottom: 35px;
      }
      li{
        min-height: 64px;
        position: relative;
        padding: 25px 0;
        vertical-align: middle;
        @media (min-width: 415px){
          padding: 15px 0;
          display: table;
        }
        &>*{
          @media (min-width: 415px){
            display: table-cell;
            vertical-align: middle;
          }
        }
        .icon-wrap{
          width: 64px;
          @media (max-width: 414px){
            width: 100%;
          }
        }
        .icon-inner{
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background: rgba(255,255,255,.3);
          text-align: center;
          line-height: 64px;
          @media (max-width: 414px){
            margin: 0 auto 10px;
          }
          img{
          }
        }
        span{
          font-size: 18px;
          font-weight: 500;
          line-height: 1.44;
          color:white;
          padding-left: 33px;
          @media (max-width: 414px){
            display: inline-block;
            width: 100%;
            text-align: center;
            padding-left: 0;
          }
        }
      }
    }
    button.btn-yellow{
      box-shadow: 0px 30px 40px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

footer{
  background-color: #f2f5f7;
  padding: 200px 0 84px;
  @media (max-width: 480px){
    padding: 80px 0;
  }
  .footer-txt{
    text-align: center;

    p{
      font-size: 16px;
      font-weight: 300;
      line-height: 1.63;
      color: #0a5271;
      margin-bottom: 59px;
      @media (max-width: 414px){
        font-size: 13px;
        line-height: 1.54;
        margin-bottom: 36px;
      }
      &.copyright{
        font-size: 14px;
        line-height: 1.86;
        @media (max-width: 414px){
          margin-bottom: 18px;
          font-size: 13px;
          line-height: 2;
        }
      }
    }
    a.foot-ask{
      font-size: 20px;
      line-height: 1.3;
      color: #0a5271;
      margin-bottom: 36px;
      display: inline-block;
      @media (max-width: 414px){
        margin-bottom: 16px;
      }
    }
    a.foot-logo{
      text-decoration: none;
      img{
        width: 141px;
      }
    }
    a.btn-blue{
      width: 100%;
      text-align: center;
      border-radius: 5px;
      background: rgba(0,103,140,1);
      background: -moz-linear-gradient(-45deg, rgba(0,103,140,1) 0%, rgba(0,80,115,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,103,140,1)), color-stop(100%, rgba(0,80,115,1)));
      background: -webkit-linear-gradient(-45deg, rgba(0,103,140,1) 0%, rgba(0,80,115,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(0,103,140,1) 0%, rgba(0,80,115,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(0,103,140,1) 0%, rgba(0,80,115,1) 100%);
      background: linear-gradient(135deg, rgba(0,103,140,1) 0%, rgba(0,80,115,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00678c', endColorstr='#005073', GradientType=1 );
      box-shadow: 0px 30px 40px 0 rgba(0, 0, 0, 0.2);
      color:white;
      font-size: 14px;
      padding: 13px 10px 14px;
      margin-bottom: 60px;
      &:focus{
        outline:0;
      }
      @media (max-width: 768px){
        margin-bottom: 20px;
      }
      @media (max-width: 480px){
        width: 270px;
      }
      &>*{
        vertical-align: middle;
        line-height: 18px;
      }
      img{
        margin-right: 5px;
      }
    }
    a.store-link{
      margin-bottom: 59px;
      display: inline-block;
      @media (max-width: 414px){
        margin: 20px 0;
      }
      img{
        width: 120px;
      }
    }
  }
}

/* MODALS */

.modal{
  .modal-dialog{
    @media (min-width: 769px){
      width: 700px;
    }
  }
  .modal-content{
    border-radius: 0;
    .modal-header{
      background: #e95045;
      padding: 37px 40px 25px;
      @media (max-width: 767px){
        padding: 24px 40px 23px;
      }
      h4.modal-title{
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        color:white;
        @media (max-width: 414px){
          font-size: 24px;
          line-height: 1.25;
        }
      }
      button.close{
        color:white;
        opacity: 1;
        box-shadow: 0 0 0 transparent;
        position: absolute;
        right: 20px;
        top: 16px;
        font-weight: normal;
        span{
          line-height: 12px;
        }
      }
    }
    .modal-body{
      padding: 40px 73px;
      @media (max-width: 768px){
        padding: 30px;
      }
      @media (max-width: 414px){
        padding: 15px;
      }
      p{
        font-size: 18px;
        font-weight: 300;
        line-height: 1.56;
        text-align: center;
        color: #065272;
        @media (max-width: 414px){
          font-size: 16px;
          line-height: 1.38;
        }
      }
      .modal-form{
        padding-top: 25px;
        @media (max-width: 414px){
          padding-top: 10px;
        }
        .modal-row{
          margin: 0 -5px;
          overflow: hidden;
          .form-group{
            padding: 0 5px;
            width: 100%;
            @media (min-width: 415px){
              float: left;
              width: 50%;
            }
            label{
              font-size: 13px;
              line-height: 2.15;
              color: #065272;
              margin-bottom: 5px;
              text-transform: uppercase;
            }
            input{
              height: 45px;
              border-radius: 3px;
              background-color: #ffe699;
              border:0;
              box-shadow: 0 0 0 transparent;
              padding: 6px 20px;
            }
          }
        }
        .checkbox{
          margin-top: 25px;
          margin-bottom: 20px;
          @media (max-width: 414px){
            margin-top: 5px;
            margin-bottom: 10px;
          }
          label{
            font-size: 14px;
            font-weight: 300;
            line-height: 2;
            color: #065272;
            height: 18px;
            position: relative;
            padding-left: 28px;
            line-height: 18px;
            &:before,
            &:after{
              position: absolute;
              content: '';
              display: block;
            }
            &:before{
              width: 18px;
              height: 18px;
              border-radius:2px;
              border:1px solid #a5b5cc;
              top: 0;
              left: 0;
            }
            &:after{
              display: none;
              content: '\e013';
              top: 1px;
              left: 2px;
              color:#a5b5cc;
              font-family: 'Glyphicons Halflings';
              font-style: normal;
              font-weight: 400;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale

            }
          }
          input{
            display: none;
            &:checked + label{
              &:after{
                display: inline-block;
                content: '\e013';
              }
            }
          }
        }
        button.btn-orange{
          height: 52px;
          border-radius: 3px;
          background-color: #f8a30e;
          box-shadow: 0px 10px 24px 6px rgba(248, 163, 14, 0.35);
          font-size: 16px;
          line-height: 1.75;
          text-align: center;
          color: #ffffff;
          width: 100%;
        }
      }
    }
  }
}
